<a id='Home'></a>

# <font color=#1de30b>Python Notes</font>
<font color='grey'>Patrick Weatherford</font>

---
---
---
<br>

### <u>Table of Contents</u>

- #### [Basic Commands/Operators](#BasicOperators)
- #### [Loops](#Loop)
- #### [Functions](#Function)
- #### [Lists](#List)
- #### [Dictionaries](#Dictionary)
- #### [Working with Text Files](#TextFile)
- #### [Exception Handling](#ExceptionHandling)
- #### [Tuples](#_Tuples)
- #### [Sets](#_Sets)
- #### [Datetime](#_dttm)
- #### [Pandas](#_pandas)
    - ##### [Data Manipulation & Cleansing](#_pandas_data_manip)

<br>

---
---
---

<a id='BasicOperators'></a>
### <font color=#1de30b>Basic Commands/Operators</font>
---
[*Home*](#Home)

In [17]:
#The backslash '\' is the escape character
print('The single quote here: \' is being escaped')

#Superior use of 'f-string' argument vs. legacy print arguments. Cannot use escape character though so have to make variables for things you want to escape.
var = 10
nl = '\n'
print(f"{nl}Variable var = {var}{nl}Variable var x 20 = {var*20}{nl}")

x=10
#operators
print(x+1)  # add
print(x-1)  # subtract
print(x//3)  # floor division
print(x/3)  # float division
print(x%3)  # modulo
print(x**2)  # exponentiation

The single quote here: ' is being escaped

Variable var = 10
Variable var x 20 = 200

11
9
3
3.3333333333333335
1
100

In [23]:
#The input function allows user to enter value. Will always return value as string so will have
#have to convert to number if needed after.

#Example
string_val = input('Enter anything: ')
num_val = int(input('Enter a number: '))

print('This is a string:',string_val) #space included when combining pieces via comma
print('This is a number:',num_val)

Enter anything: anything
Enter a number: 1354
This is a string: anything
This is a number: 1354

In [24]:
#Data type conversions

x = 10 

print(str(x),'is',type(str(x))) ##converts x to string
print(int(x),'is',type(int(x))) ##converts x to integer
print(float(x),'is',type(float(x))) ##converts x to float

10 is <class 'str'>
10 is <class 'int'>
10.0 is <class 'float'>

In [25]:
# 'if' statements

num1 = 100

#initial if statements
if num1 < 50:
    print('Number is less than 50')
    
#any preceding 'if' statements must be 'elif' or 'else'
elif num1 >= 50 and num1 < 100:
    print('Number is greater than or equal to 50 and less than 100')
else:
    print('Number is greater than or equal to 100')

Number is greater than or equal to 100

In [26]:
# One '=' sign asigns value, two '==' signs checks equality.

num1 = 0 #assigning 0 to num1

if num1 == 0: #checks for equality
    print('Number is',num1)
else:
    print('Number is not 0')

Number is 0

---
---
<br>

<a id='Loop'></a> 

### <font color = #1de30b>Loops</font>
---
[*Home*](#Home)

In [27]:
#'for' Loop:
for i in range(1,11): ## 1 is inclusive, 11 is exclusive
    print('Current value:',i)

Current value: 1
Current value: 2
Current value: 3
Current value: 4
Current value: 5
Current value: 6
Current value: 7
Current value: 8
Current value: 9
Current value: 10

In [28]:
#'for' loop: count number of digits in a string

user_input = input('Please provid a password: ')
count = 0

for char in user_input:
    if char.isnumeric() == True:
        count += 1
print('Your password contains',count,'digits')

Please provid a password: pat1018
Your password contains 4 digits

In [29]:
#'while' loop example
counter = 1
while counter <= 10:
    print('Current value:',counter)
    counter += 1

Current value: 1
Current value: 2
Current value: 3
Current value: 4
Current value: 5
Current value: 6
Current value: 7
Current value: 8
Current value: 9
Current value: 10

In [30]:
#nested 'for' loop example
for i in range(1,11):
    for j in range(1,11):
        print(i, 'x', j, '=', i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [31]:
#another nested 'for' loop example
val1_stop = 7
val2_stop = 20
for val1 in range(1,val1_stop+1):
    string = ''
    for val2 in range(1,val2_stop+1):
        string = string + str(val1)
    print(string)

11111111111111111111
22222222222222222222
33333333333333333333
44444444444444444444
55555555555555555555
66666666666666666666
77777777777777777777

In [1]:
#nested 'while' loop example

#Get the mean of input numbers
n_numbers = int(input("How many numbers will be given? "))
sum_numbers = 0
count = 0

while count < n_numbers:
    current_number = input('Provide a number: ')
    while not current_number.isnumeric():
        current_number = input('That\'s not a number! Try again: ')
    sum_numbers += int(current_number)
    count += 1

print(sum_numbers / n_numbers)

How many numbers will be given?  3
Provide a number:  j
That's not a number! Try again:  10

KeyboardInterrupt: Interrupted by user

In [33]:
#'while' loop: loop indefinetly until condition met and then end loop via break
year = input('In which year was Python first released? ')
while True:
    if int(year) == 1990:
        break
    year = input('Wrong! In which year was Python first released? ')
print('Correct!')

In which year was Python first released? 1990
Correct!

In [34]:
#'for' loop with break

#determines if the number entered is a prime number or not. will loop
#and divide user number by each number leading up to the user number and
#if there is a number that has no remainder after division, then loop will
#break and return false. If no divisions return a remainder of 0 then the 
#user number is a prime number and variable holding True will remain the same.
user_number = int(input('Please provide a number from 2 to 1000: '))
if user_number < 2 or user_number > 1000:
    print('Incorrect number!')
else:
    is_prime = True
    for digit in range(2, user_number):
        if user_number % digit == 0:
            is_prime = False
            break

if is_prime == False:
    print(user_number, 'is not prime!')
elif is_prime == True:
    print(user_number, 'is prime!')

Please provide a number from 2 to 1000: 50
50 is not prime!

In [35]:
#'while' loop: using continue to skip loop iterations based on met criteria

#print only even numbers less than 50 that are NOT divisible by 6
current_value = 0
while current_value < 50:
    current_value += 2
    if current_value % 6 == 0:
        continue #will skip iteration if divisible by 6
    print(current_value)

2
4
8
10
14
16
20
22
26
28
32
34
38
40
44
46
50

In [36]:
#using 'for' loop to get factorial of number

#A factorial is a number multiplied by all of the positive integers leading up to that number and
#the number itself.
#example: factorial of 5! = 5 * 4 * 3 * 2 * 1   =  120
iterations = 5
iteration_num = 1
for i in range(1, iterations+1):
    print(i,'x',iteration_num,'=',i*iteration_num)
    iteration_num = iteration_num * i
print('The factorial of',iterations,'is',iteration_num)

1 x 1 = 1
2 x 1 = 2
3 x 2 = 6
4 x 6 = 24
5 x 24 = 120
The factorial of 5 is 120

In [37]:
#using nested 'for' loop to create patterns.
for val1 in range(1,9):
    string = ''
    for val2 in range(1,50):
        val2_1 = '~'
        val2_2 = '|'
        if val1 % 2 != 0:
            if val2 % 2 != 0:
                string = string + val2_1
            else:
                string = string + val2_2
        else:
            if val2 % 2 != 0:
                string = string + val2_2
            else:
                string = string + val2_1
    print(string)

~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~
|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|
~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~
|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|
~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~
|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|
~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~
|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|

---
---
<br>
<a id='Function'></a>

### <font color = #1de30b>Functions</font>
---
[*Home*](#Home)

In [39]:
#defining a function and executing it
def function_1():
    print('This is a function')
    
function_1()

This is a function

In [42]:
#defining a function with a parameter and executing
def print_numbers(number):
    for num in range(1,number+1):
        print(num)
        
print_numbers(10)

1
2
3
4
5
6
7
8
9
10

In [17]:
#defining a function with multiple parameters and default values
def bmi(mass=97.5,height=1.8):
    bmi = mass / height**2
    return bmi

bmi()

30.09259259259259

---
---
<br>
<a id='List'></a>

### <font color=#1de30b>Lists</font>

Represented by [val1, val2, ...]
- Stores values in single row OR mult-row/multi-column
- Allows duplicate elements
- Values are indexed (starting index is 0)
- Mutable meaning we can modify the list values
- Can store multiple types of data

---
[*Home*](#Home)

In [46]:
#List variable: storing multiple items into 1 variable

water_level = [730,609,682,712,733,751,740]
print(water_level)

[730, 609, 682, 712, 733, 751, 740]

<br>

<font color = 'yellow'>Get value(s) via list index</font>
- 1 Value: _list_name[**index**]_
- Range of values: _list_name[**start_index**(inclusive):**end_index**(exclusive)]_

In [68]:
#List variable: obtaining certain piece of the list variable **starts at 0 not 1

#define list variable
water_level = [730,709,682,712,733,751,740]

#access water level on the 3rd day?
print(water_level[2]) #starts at 0 not 1
print(water_level[5:7]) #remember 1st number is inclusive and last number is exclusive; starts at 0

682
[751, 740]

<br>

<font color = 'yellow'>Modify Lists</font>
<li>Change existing value: <i>list_name[<b>index</b>]=<b>value</b></i>
<li>Add value to end of list: <i>list_name.<b>append</b>(<b>value</b>)</i>

In [11]:
#define list variable
water_level = [730,709,682,712,733,751,740]

#update 3rd days value to 693
water_level[2] = 693
print(water_level)

#add piece to end of list variable
water_level.append(772)
print(water_level)

[730, 709, 693, 712, 733, 751, 740]

In [9]:
#List variable: combining lists together

#define list variable 1
water_level = [730,709,682,712,733,751,740]

#define list variable 2
water_level_2 = [772,770,745]

#combine lists with list variable 2 coming at the end of list variable 1
water_level = water_level + water_level_2

print(water_level)

[730, 709, 682, 712, 733, 751, 740, 772, 770, 745]

In [8]:
#List variable: deleting piece of list variable
# **When you delete a piece the preceding pieces' rank will be shifted forward

#define list variable
water_level = [730,709,682,712,733,751,740]

#delete first piece of list variable
del water_level[0]

print(water_level)

[709, 682, 712, 733, 751, 740]

In [7]:
#List variable: deleting piece by name/value, not index number
# **When you delete a piece the preceding pieces' rank will be shifted forward

#define list variable
water_level = [730,709,682,712,733,751,740]

#delete piece with value of 730
water_level.remove(730)

print(water_level)

[709, 682, 712, 733, 751, 740]

In [6]:
#List variable: use if statement to check if user input is in list variable

#list variable declaration
tourist_arrivals = [7.8, 9.0, 10.4, 10.9, 14.7, 15.6, 22.7, 22.3, 14.8, 11.4, 8.6, 9.1]

#user input that will be checked
number = float(input('Enter monthly arrivals: '))

#check user input
if number in tourist_arrivals:
    print('Value found.')
else:
    print('Value not found.')

Enter monthly arrivals: 9.0
Value found.

In [9]:
#List variable: check how many elements are in the list
tourist_arrivals = [7.8, 9.0, 10.4, 10.9, 14.7, 15.6, 22.7, 22.3, 14.8, 11.4, 8.6, 9.1]
string1 = 'Hello world!!'
num1 = 135
print(len(tourist_arrivals)) #prints the number of elements for list
print(len(string1)) #prints the number of characters for string
print(len(num1)) #len does not work on int

12
13

TypeError: object of type 'int' has no len()

In [3]:
#List variable with 'for' loop
tourist_arrivals = [7.8, 9.0, 10.4, 10.9, 14.7, 15.6, 22.7, 22.3, 14.8, 11.4, 8.6, 9.1]
months = ['January','February','March','April','May','June','July','August','September','October'
          ,'November', 'December']

for i in range(0, len(tourist_arrivals)):
    print('Tourist arrivals in',months[i],'2016 were',tourist_arrivals[i],'million people.')

Tourist arrivals in January 2016 were 7.8 million people.
Tourist arrivals in February 2016 were 9.0 million people.
Tourist arrivals in March 2016 were 10.4 million people.
Tourist arrivals in April 2016 were 10.9 million people.
Tourist arrivals in May 2016 were 14.7 million people.
Tourist arrivals in June 2016 were 15.6 million people.
Tourist arrivals in July 2016 were 22.7 million people.
Tourist arrivals in August 2016 were 22.3 million people.
Tourist arrivals in September 2016 were 14.8 million people.
Tourist arrivals in October 2016 were 11.4 million people.
Tourist arrivals in November 2016 were 8.6 million people.
Tourist arrivals in December 2016 were 9.1 million people.

In [2]:
#Search for item in list and if not there, add it.
supermarkets = ['Tesco', 'Aldi', 'Morrisons', 'Co-op', 'Iceland']
add = 'Lidl'
if add not in supermarkets:
    supermarkets.append(add)
    
print(supermarkets)

['Tesco', 'Aldi', 'Morrisons', 'Co-op', 'Iceland', 'Lidl']

In [1]:
#List variable with 'for' loop.
# Find difference from current value in last from previous value (lag method)
world_pop = [7128, 7213, 7299, 7383, 7467, 7550, 7633]
for i in range(1, len(world_pop)): #skip 0 (first) index since there is no value before
    current_year = world_pop[i]
    previous_year = world_pop[i-1]
    diff = world_pop[i] - world_pop[i-1]
    print(i, current_year, '-', previous_year, '=', diff)

1 7213 - 7128 = 85
2 7299 - 7213 = 86
3 7383 - 7299 = 84
4 7467 - 7383 = 84
5 7550 - 7467 = 83
6 7633 - 7550 = 83

In [28]:
#define function that takes a list and outputs the absolute value for each number in the list
list1 = [-100,200,-150,-300,400]
list2 = [-59,10,-20,-40]

def get_absolute_values(list_input):
    for i in range(0,len(list_input)):
        list_input[i] = abs(list_input[i])
        i+=1
    print(list_input)

get_absolute_values(list1)

[100, 200, 150, 300, 400]

In [31]:
#remove values from one list based on another

list1 = [12,47,8,9,1,7]
remove_list = [max(list1),min(list1)]
for val in list1:
    if val in remove_list:
        list1.remove(val)

print(list1)

[12, 8, 9, 7]

---
---
<a id='Dictionary'></a>
<br>

### <font color=1de30b>Dictionaries</font>

Represented by { key1:val1, key2:val2, ...}
- Used to store data in key:value pairs
- In Python 3.7 & above, dictionaries are ordered
- Does not allow duplicate key values. **Last key value duplicate/value returned
- Is mutable meaning the values can be changed/modified

---
[*Home*](#Home)

In [55]:
#Creating Dictionary
os_releases = {
    2015:'Windows 10'
    , 2013:"Windows 8.1"
    , 2012:"Windows 8"
    , 2009:"Windows 7"
    , 2007:"Windows Vista"
}
print('Original dictionary:',os_releases)

Original dictionary: {2015: 'Windows 10', 2013: 'Windows 8.1', 2012: 'Windows 8', 2009: 'Windows 7', 2007: 'Windows Vista'}

<br>

<font color='yellow'>Get value for specified <b>key</b>.</font><br><u>Syntax</u>: <i>dictionary_name[<b>key</b>]</i>

In [57]:
# Get value for key
os_releases = {
    2015:'Windows 10'
    , 2013:"Windows 8.1"
    , 2012:"Windows 8"
    , 2009:"Windows 7"
    , 2007:"Windows Vista"
}

# Get value for key
print('Value for key=2015:',os_releases[2015])  # get value in dictionary with key=2015

Value for key=2015: Windows 10

<br>

<font color='yellow'>Add new <b>key:value</b> pair to dictionary</font>

In [58]:
# Add key:value pair to dictionary
os_releases = {
    2015:'Windows 10'
    , 2013:"Windows 8.1"
    , 2012:"Windows 8"
    , 2009:"Windows 7"
    , 2007:"Windows Vista"
}

# Add key:value pair to dictionary
os_releases[2001] = 'Windows XP'  # add key:value pair to dictionary
print(os_releases)

{2015: 'Windows 10', 2013: 'Windows 8.1', 2012: 'Windows 8', 2009: 'Windows 7', 2007: 'Windows Vista', 2001: 'Windows XP'}

<br>
<font color='yellow'>
    Delete <b>key:value</b> pair or entire dictionary</font><br>
    <u>Syntax</u>: <i><b><font color=#f92672>del</font></b> dictionary_name[<b>key</b>]</i></li>

In [67]:
# Delete key:value pair from dictionary
os_releases = {
    2015:'Windows 10'
    , 2013:"Windows 8.1"
    , 2012:"Windows 8"
    , 2009:"Windows 7"
    , 2007:"Windows Vista"
}

# Delete key:value pair from dictionary
del os_releases[2007]  # function to remove key:value pair
print(os_releases)
del os_releases  # !!deletes the entire dictionary!!

{2015: 'Windows 10', 2013: 'Windows 8.1', 2012: 'Windows 8', 2009: 'Windows 7'}

In [62]:
# Search for key values in dictionary
os_releases = {
    2015:'Windows 10'
    , 2013:"Windows 8.1"
    , 2012:"Windows 8"
    , 2009:"Windows 7"
    , 2007:"Windows Vista"
}

# Search for key values in dictionary
key = int(input('Enter key to search for: '))
if key in os_releases:
    print('Version found: {',os_releases[key],'}',sep='')
else:
    print('No version found.')

Enter key to search for: 2013
Version found: {Windows 8.1}

<br>
<font color='yellow'>
    Iterate through keys </font><br>Looping through dictionary will pull <b>keys</b> by default</li>

In [64]:
# Iterate through keys
os_releases = {
    2015:'Windows 10'
    , 2013:"Windows 8.1"
    , 2012:"Windows 8"
    , 2009:"Windows 7"
    , 2007:"Windows Vista"
}

# Iterate through keys
for key in os_releases:
    print(key, '=', os_releases[key])

2015 = Windows 10
2013 = Windows 8.1
2012 = Windows 8
2009 = Windows 7
2007 = Windows Vista

<br>
<font color='yellow'>
    Iterate through values</font><br><u>Syntax</u>: <i>dictionary_name.<b>values()</b></i>

In [86]:
#Iterate through values and create a new list from values
os_releases = {
    2015:'Windows 10'
    , 2013:"Windows 8.1"
    , 2012:"Windows 8"
    , 2009:"Windows 7"
    , 2007:"Windows Vista"
}

os_lengths = {}

#Iterate through values and create a new list from values
for value in os_releases.values():
    os_lengths[value] = len(value)
print(os_lengths)

{'Windows 10': 10, 'Windows 8.1': 11, 'Windows 8': 9, 'Windows 7': 9, 'Windows Vista': 13}

<br>
<font color='yellow'>
    Iterate through <b>key:value</b> pairs using <b>item function</b>
    </font>

In [87]:
os_releases = {
    2015:'Windows 10'
    , 2013:"Windows 8.1"
    , 2012:"Windows 8"
    , 2009:"Windows 7"
    , 2007:"Windows Vista"
}

for key, value in os_releases.items():
    print(os_releases[key],' was released in ',key,' - ',key-1985,' years after Windwos 1.0',sep='')

Windows 10 was released in 2015 - 30 years after Windwos 1.0
Windows 8.1 was released in 2013 - 28 years after Windwos 1.0
Windows 8 was released in 2012 - 27 years after Windwos 1.0
Windows 7 was released in 2009 - 24 years after Windwos 1.0
Windows Vista was released in 2007 - 22 years after Windwos 1.0

<br>
<font color = 'yellow'>
Loop through words and add them to another dictionary and aggregate the values for the keys.
</font>

In [4]:
user_input = input('Please provide some text: ')
word_frequencies = {}

for word in user_input.split():
    if word not in word_frequencies:
        word_frequencies[word] = 1
    else:
        word_frequencies[word] = word_frequencies[word] + 1
print(word_frequencies)

Please provide some text:  yo yo yo what it do do

{'yo': 3, 'what': 1, 'it': 1, 'do': 2}

<br>
<font color='yellow'>
Functions and Dictionaries
    </font>

In [44]:

#get the max value from dictionary and return it
nl = '\n'
dic1 = {
     "val1":1
    ,"val2":10
    ,"val3":8
}
def max_value(dictionary):
    max_value = max(dictionary.values())
    return max_value
print(f"{nl}{max_value(dic1)}")     

###############################################################

#Replace all even numbers in a dictionary
dic1 = {
     "a":1
    ,"b":2
    ,"c":3
    ,"d":4
}
def add_ten(dictionary):
    for key, value in dictionary.items():
        if value % 2 == 0:
            dictionary[key] = value+10
    return dictionary

print(f"{nl}{add_ten(dic1)}")

###############################################################

#Copy dictionary from above code so that original is left alone and new dictionary created
def add_twenty(dictionary):
    dic_copy = dictionary.copy()
    for key, value in dic_copy.items():
        if value % 2 == 0:
            dic_copy[key] = value+20
    return dic_copy
print(f"{nl}previous dictionary: {dic1}{nl}new/copied dictionary: {add_twenty(dic1)}")

10

{'a': 1, 'b': 12, 'c': 3, 'd': 14}

previous dictionary: {'a': 1, 'b': 12, 'c': 3, 'd': 14}
new/copied dictionary: {'a': 1, 'b': 32, 'c': 3, 'd': 34}

<br>
<font color='yellow'>Doing things with multiple dictionaries with matching <b>keys</b></font>

In [20]:
nl = '\n'
#Create a new dictionary with new totals based on base price dictionary and discounts dictionary
base_prices = {
    "shirt":25
    ,"dress":250
    ,"tie":20
    ,"skirt":25
}

discounts = {
    "shirt":5
    ,"dress":20
}

discounted_price = {}

def calculate_discount(dic_price, dic_disc):
    for key in dic_price:
        if key in discounts.keys():
            discounted_price[key] = dic_price[key] - discounts[key]
        else:
            discounted_price[key] = dic_price[key]
    return discounted_price
    print(f"{discounted_price}")
            
print(f"{calculate_discount(base_prices, discounts)}")

###############################################################

#Take user input and create equivalent morris code represenation
morse = {'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
         'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
         'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
         'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
         'Y': '-.--', 'Z': '--..', '0': '-----', '1': '.----', '2': '..---',
         '3': '...--', '4': '....-', '5': '.....', '6': '-....', '7': '--...',
         '8': '---..', '9': '----.', '.': '.-.-.-', ',': '--..--'}

def translate_into_morse(user_input):
    morse_val = ''
    user_input = user_input.upper()
    for char in user_input:
        if char in morse.keys():
            morse_val += morse[char]
        else:
            morse_val += char
    return morse_val
    print(f"{morse_val}")

print(f"{nl}{translate_into_morse('hello there!!')}")

###############################################################

#Calculate the total from the order dictionary based on the price list dictionary
pricelist = {'bread': 2.37, 'ham': 3.48, 'cheese': 3.09, 'water': 1.19, 'coke': 2.58, 'juice': 4.18, 'butter': 5.18}

customer_order = {
    'cheese':3
    ,'coke':2
}

def calculate_price(order):
    total = 0
    order_copy = order.copy()
    for key in order_copy:
        if key in order_copy.keys():
            total += (pricelist[key] * order_copy[key])
    return total
    print(f"{total}")
    
print(f"{nl}{calculate_price(customer_order)}")

{'shirt': 20, 'dress': 230, 'tie': 20, 'skirt': 25}

......-...-..--- -......-..!!

14.43

<br>
<font color='yellow'>Sorting dictionary based on <b>keys</b> or <b>values</b></font>

In [9]:
dictn = {'A':500,'B':1000,'C':750,'D':300}

sort_dictn = sorted(dictn.items(), key=lambda kv: kv[1], reverse=True)  # kv[1|0]: if 1 then sorting on value, if 0 then sorting on key | reverse=True is descending, reverse=False is ascending
for kv in sort_dictn:

B  :  1000
C  :  750
A  :  500
D  :  300

---
---
<a id='TextFile'></a>
<br>

### <font color=1de30b>Working with Text Files</font>
---
[*Home*](#Home)

<br>
<font color='yellow'>Opening, Reading, and Writing Text file</font>

<ul>
    <li> Open([file], parameters..)</li>
    <ul style="list-style-type:circle;">
        <li> r - read </li>
        <li> w - write (overwrites current text) </li>
        <li> a - append (adds text to end) </li>
    </ul>
    <li> **Remember to close the file after!
</ul>

<img src="ipynb Files/Text IO Decision Tree.png">

In [31]:
nl = '\n'

# Open and read file
file = open('gettysburg')  # Original file. Just reading which is default (no parameter).
print(file.read())
file.close()
print(f"{nl}***********{nl}")  # Spacer between operations


# Open and write to file
file2 = open('getty_copy', 'w+')  # open with 'write-w' parameter. 
file2.write(f"yo whatup, this is the new file text now!! Muawhahahaha")
print(file2.read())
file2.close()
print(f"{nl}***********{nl}")  # Spacer


# Append to file
file2 = open('getty_copy', 'a')  # Using copied file which was written to, append to it. Note usage of 'append-a' parameter.
file2.write(f"{nl}Appended text: This is appended text!!")
file2.close
file2 = open('getty_copy')
print(file2.read())
file2.close()

Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this.

But, in a larger sense, we can not dedicate -- we can not consecrate -- we can not hallow -- this ground. The brave men, living and dead, who struggled here, have consecrated it, far above our poor power to add or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so nobly advanced. It is rather for us to be here dedicated to the great task remaining before us -- that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion -- that we here highly resolve that these dead shall not have died in vain -- that this nation, under God, shall have a new birth of freedom -- and that government of the people, by the people, for the people, shall not perish from the earth.

Abraham Lincoln
November 19, 1863

***********



***********

yo whatup, this is the new file text now!! Muawhahahaha
Appended text: This is appended text!!

<br>
<font color='yellow'>
    <ol>
        <li>Open text file with numbers on each line.</li>
        <li>Iterate through each line checking if current value is greater than the last. If so store that value in the <b>max</b> variable</li>
        <li>Store values on each line in a list</li>
    </ol>
</font>

In [21]:
nl = '\n'
num_list = []
file = open('Numbers.txt')
max_num = None
for line in file:
    num_list.append(line.replace('\n',''))
    if max_num == None:
        max_num = line
    else:
        if line > max_num:
            max_num = line
        else:
            max_num = max_num
print(f"{num_list}")
print(f"Max number: {max_num}")
file.close()

['19438', '498', '2983', '568', '3983', '86856']
Max number: 86856

<br>
<font color='yellow'>Looping to <b>'write to'</b> a file</font>

In [1]:
subjects = ['math', 'biology', 'chemistry', 'physics']
nl = "\n"

with open("urls.txt", "w") as file:
  for subject in subjects:
    for year in range(2010, 2012+1):
      file.write(f"http://imaginary-site.com/download/{subject}-{str(year)}{nl}")
      
with open("urls.txt", "r") as file:
  print(file.read())

http://imaginary-site.com/download/math-2010
http://imaginary-site.com/download/math-2011
http://imaginary-site.com/download/math-2012
http://imaginary-site.com/download/biology-2010
http://imaginary-site.com/download/biology-2011
http://imaginary-site.com/download/biology-2012
http://imaginary-site.com/download/chemistry-2010
http://imaginary-site.com/download/chemistry-2011
http://imaginary-site.com/download/chemistry-2012
http://imaginary-site.com/download/physics-2010
http://imaginary-site.com/download/physics-2011
http://imaginary-site.com/download/physics-2012

In [ ]:
with open('gettysburg', 'r') as file:
    with open('getty_copy2', 'w+') as file2:
        file2.write("yo yo")
        print(file2.read())

---
---
<a id='ExceptionHandling'></a>
<br>

### <font color=1de30b>Exception Handling</font>
---
[*Home*](#Home)

<br>

<font color="yellow">
    
Syntax:
    
    try:
        [expression]
        if no exception thrown, continue with code in this block
    except (specific exception or leave blank for all):
        [expression]
        if exception thrown in try block, continue with code in this block
    else:
        [expression]
        if exception thrown in try block and exception not specific to except block or code exits the except block for whatever reason, continue with code in this block
    
</font>

In [3]:
try:
    with open("non-existing file.txt", "r") as file:
        print(file.read())
except IOError:
    print("Could not read the file")

Could not read the file

<br>

<font color="yellow">
Continue asking user for file name and trying to find, open, and read the file.
</font>

In [6]:
loop = True

while loop is True:
    try:
        file_name = input("Enter file name to read: ")
        with open(file_name, "r") as file:
            print(file.read())
    except IOError:
        while True:
            try:
                file_name = input("File not found! Try again: ")
                with open(file_name, "r") as file:
                    print(file.read())
                    loop = False
                    break
            except IOError:
                continue

Enter file name to read:  non-existing file
File not found! Try again:  urls
File not found! Try again:  urls.txt

http://imaginary-site.com/download/math-2010
http://imaginary-site.com/download/math-2011
http://imaginary-site.com/download/math-2012
http://imaginary-site.com/download/biology-2010
http://imaginary-site.com/download/biology-2011
http://imaginary-site.com/download/biology-2012
http://imaginary-site.com/download/chemistry-2010
http://imaginary-site.com/download/chemistry-2011
http://imaginary-site.com/download/chemistry-2012
http://imaginary-site.com/download/physics-2010
http://imaginary-site.com/download/physics-2011
http://imaginary-site.com/download/physics-2012

---
---
<a id='_Tuples'></a>
<br>

### <font color=1de30b>Tuples</font>
---
[*Home*](#Home)

<br>

<font color="yellow">
Tuples can store different types of data but are immutable (cannot modify once created).
</font>

In [5]:
## Creating Tuple
tupl = ('Id:',1,"Department Id", 429.32)
print(tupl)


## Single Value Tuple
tupl_1 = (298,) ## must put comma after first value if single value
print(tupl_1) ## notice that it will put comma 


## Looping through tuple
tupl = ('Id:',1,"Department Id", 429.32)
for tupl_elem in tupl:
    print(f"Tuple element data type = {type(tupl_elem)}")

('Id:', 1, 'Department Id', 429.32)
(298,)
Tuple element data type = <class 'str'>
Tuple element data type = <class 'int'>
Tuple element data type = <class 'str'>
Tuple element data type = <class 'float'>

<br>

<font color="yellow">
Create function to get tuple from list of tuples with highest value and display certain elements in that tuple.
</font>

In [1]:

apartments = [
  ('12 Park Ave', 2, 78.5, 475000),
  ('15 Washington St', 3, 97.0, 685000),
  ('27 Lake St', 1, 46.7, 380000),
  ('3 Lake Ave', 2, 62.3, 420000)
]


def get_biggest_apartment_area_price(apartments):
    key = 0 
    apt_dict = {}
    for apt in apartments:
        apt_dict[key] = apt[2] 
        key += 1 
    area, price = apartments[max(apt_dict, key=apt_dict.get)][2:4]
    return (area, price)
  
get_biggest_apartment_area_price(apartments)

(97.0, 685000)

---
---
<a id='_Sets'></a>
<br>

### <font color=1de30b>Sets</font>
---

Sets are similar to lists but all values within a set must be unique values. Elements can be added or removed from a set but the existing elements cannot be modified. Also, sets are unordered meaning you cannot access elements within them via an index. This also means that the order can sporadically change from execution to execution.

---

[*Home*](#Home)

<br>

<font color="yellow">
Sets are defined with curly brackets (*like dictionaries), BUT, dictionaries have key:value pairs whereas sets do not.
</font>

In [3]:
favorite_teams = {
    'Rangers'
    , 'Eagles'
    , 'Stars'
}

print(favorite_teams)

{'Rangers', 'Stars', 'Eagles'}

<br>

<font color="yellow">
Turn list with duplicate values into set with unique values.
</font>

In [1]:
num_list = [1,1,1,2,2,3,3,3,3,3,3,4]

num_set = set(num_list)

print(num_set)

{1, 2, 3, 4}

<br>

<font color="yellow">
Add/Remove elements from a set.
</font>

In [11]:
num_set = {1,2,3,4,5,6,7}

# Add element to a set
num_set.add(8)

# Remove element from a set. No exception thrown if doesn't exist.
num_set.discard(1)

# Remove element from set if exists else, throw exception
x = input("Enter number to remove: ")
try:
    num_set.remove(int(x))
except:
    print("Number not found in set!")
    
    
print(num_set)


# Remove all elements from a set
num_set.clear()
print(num_set)

Enter number to remove:  2

{3, 4, 5, 6, 7, 8}
set()

<br>

<font color="yellow">
Get similarities between sets.
</font>

In [15]:
num_set_1 = {1,2,3,4,5}

num_set_2 = {4,5,6,7,8}

# Using intersection method
print(num_set_1.intersection(num_set_2))

# Using syntax '&' for intersection method
print(num_set_1 & num_set_2)

{4, 5}
{4, 5}

<br>

<font color="yellow">
Combine unique values from sets into 1 set
</font>

In [16]:
num_set_1 = {1,2,3,4,5}

num_set_2 = {4,5,6,7,8}

# Using union method
print(num_set_1.union(num_set_2))

# Using syntax '|' for union method
print(num_set_1 | num_set_2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

<br>

<font color="yellow">
Get unique differences between sets.
</font>

In [19]:
num_set_1 = {1,2,3,4,5}

num_set_2 = {4,5,6,7,8}

# Using difference method
# Gets unique differences in first called set
print(num_set_1.difference(num_set_2))

# Using syntax  '-' for difference method
# Gets unique differences in first called set
print(num_set_2 - num_set_1)


# Using symmetric_difference method
# Gets unique differences in both sets
print(num_set_1.symmetric_difference(num_set_2))


# Using syntax '^' for symmetric_difference_method
print(num_set_1 ^ num_set_2)

{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

<br>

<font color="yellow">
<ul>
    <li> Subset: A set in which all elements exist in another set with equal or more elements in it.
    <li> Superset: A set in which all elements exist in another set but has equal or more elements than the other set.
</ul>
</font>

In [31]:
sub_set = {1,2,3,4}
sup_set = {1,2,3,4,5,6,7}
set1 = {1,2,3,4}
null_set = set({}) # without set(), would create an empty dictionary

print(sub_set.issuperset(sup_set))  # Less elements so False
print(sub_set.issubset(sup_set))  # Less elements so True
print(sub_set.issuperset(set1))  # If same number of elements then True
print(sub_set.issubset(set1))  # If same number of elements then True
print(null_set.issuperset(sub_set))  # If NULL set then any other non-NULL set will be superset
print(null_set.issubset(sub_set))  # If NULL set then is subset of any other set (including another null set)
print(null_set.issuperset(null_set))  # If same number of elements (none), then True

False
True
True
True
False
True
True

---
---
<a id='_dttm'></a>
<br>

### <font color=1de30b>Datetime</font>
---
[*Home*](#Home)

<br>

<font color="yellow">
Working with time
</font>

In [36]:
import datetime

date_var = datetime.time(13, 55, 21, 5)  # date from parts (hour, minute, second, microsecond)

print(date_var)
print(date_var.hour)  # Get hour part of date object
print(date_var.minute)  # Get minute part of date object
print(date_var.second)  # Get second part of date object
print(date_var.microsecond)  # Get microsecond part of date object

13:55:21.000005
13
55
21
5

<br>

<font color = "yellow">
Datetime objects are immutable meaning that once they are created, they cannot be modified. If we need to modify the object, we can either drop and re-create or make a new object based on the object we want to chance.
</font>

In [40]:
dttm = datetime.time(8, 30, 0)
print(dttm)

dttm2 = dttm.replace(minute=45)
print(dttm2)

08:30:00
08:45:00

<br>

<font color="yellow">
Working with dates
</font>

---
---
<a id='_pandas'></a>
<br>

### <font color=1de30b>Pandas</font>
---
[*Home*](#Home)

<a id='_pandas_data_manip'></a>
<br>

#### Data Minpulating and Cleansing
[*Home*](#Home)

In [32]:
# Load libraries
import pandas as pd

# Read csv into a data frame
df = pd.read_csv("ipynb Files/Pandas Demo/Data/survey_results_public.csv", index_col='ResponseId')
df_schema = pd.read_csv("ipynb Files/Pandas Demo/Data/survey_results_schema.csv")

In [33]:
# Jupyter will now display at most 100 columns
pd.set_option('display.max_columns', 100)

# Shows top 5 and bottom 5 rows in df
df.tail()

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [34]:
# shape attribute gives us rows & columns in tuple form
df.shape

# info method gives total rows, total columns, and column data types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83439 entries, 1 to 83439
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    83439 non-null  object
 1   Employment                    83323 non-null  object
 2   Country                       83439 non-null  object
 3   US_State                      14920 non-null  object
 4   UK_Country                    4418 non-null   object
 5   EdLevel                       83126 non-null  object
 6   Age1stCode                    83243 non-null  object
 7   LearnCode                     82963 non-null  object
 8   YearsCode                     81641 non-null  object
 9   YearsCodePro                  61216 non-null  object
 10  DevType                       66484 non-null  object
 11  OrgSize                       60726 non-null  object
 12  Currency                      61080 non-null  object
 13  CompTotal                     47183 non-null  float64
 14  CompFreq                      52150 non-null  object
 15  LanguageHaveWorkedWith        82357 non-null  object
 16  LanguageWantToWorkWith        76821 non-null  object
 17  DatabaseHaveWorkedWith        69546 non-null  object
 18  DatabaseWantToWorkWith        58299 non-null  object
 19  PlatformHaveWorkedWith        52135 non-null  object
 20  PlatformWantToWorkWith        41619 non-null  object
 21  WebframeHaveWorkedWith        61707 non-null  object
 22  WebframeWantToWorkWith        52095 non-null  object
 23  MiscTechHaveWorkedWith        47055 non-null  object
 24  MiscTechWantToWorkWith        38021 non-null  object
 25  ToolsTechHaveWorkedWith       72537 non-null  object
 26  ToolsTechWantToWorkWith       65480 non-null  object
 27  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 28  NEWCollabToolsWantToWorkWith  73022 non-null  object
 29  OpSys                         83294 non-null  object
 30  NEWStuck                      83052 non-null  object
 31  NEWSOSites                    83171 non-null  object
 32  SOVisitFreq                   82413 non-null  object
 33  SOAccount                     82525 non-null  object
 34  SOPartFreq                    67553 non-null  object
 35  SOComm                        82319 non-null  object
 36  NEWOtherComms                 82828 non-null  object
 37  Age                           82407 non-null  object
 38  Gender                        82286 non-null  object
 39  Trans                         80678 non-null  object
 40  Sexuality                     73366 non-null  object
 41  Ethnicity                     79464 non-null  object
 42  Accessibility                 77603 non-null  object
 43  MentalHealth                  76920 non-null  object
 44  SurveyLength                  81711 non-null  object
 45  SurveyEase                    81948 non-null  object
 46  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), object(45)
memory usage: 30.6+ MB

In [35]:
# Creating a DataFrame
df_dict = {
    'ID':['e1','e2','e3']
    , 'FIRST_NAME':['Patrick','Leigha','Blake']
    , 'AGE':[32, 32, 0]
}

custom_df = pd.DataFrame(df_dict)

custom_df

   ID FIRST_NAME  AGE
0  e1    Patrick   32
1  e2     Leigha   32
2  e3      Blake    0

In [36]:
# Accessing columns (aka Series) in the DataFrame
custom_df[['ID', 'FIRST_NAME']]

   ID FIRST_NAME
0  e1    Patrick
1  e2     Leigha
2  e3      Blake

In [22]:
# Get list of column names
custom_df.columns

Index(['ID', 'FIRST_NAME', 'AGE'], dtype='object')

In [23]:
# Accessing row

#iloc (integer location) method
custom_df.iloc[0] # Get first row in DataFrame

ID                 e1
FIRST_NAME    Patrick
AGE                32
Name: 0, dtype: object

In [25]:
# Accessing multiple rows

#iloc (integer location) method
custom_df.iloc[[0,2]] # Get first and third rows

   ID FIRST_NAME  AGE
0  e1    Patrick   32
2  e3      Blake    0

In [26]:
# Accessing multiple rows and specific columns via iloc (integer location)
# Syntax df.iloc[[row indexes], [column indexes]]
custom_df.iloc[[0,2], [0,1]] # get 1st and 3rd row and 1st and 2nd column

   ID FIRST_NAME
0  e1    Patrick
2  e3      Blake

In [28]:
# Accessing multiple rows and columns using loc (name location)
# Syntax df.loc[[row names], [column names]]
custom_df.loc[[0,2], ['AGE', 'FIRST_NAME']]

   AGE FIRST_NAME
0   32    Patrick
2    0      Blake

In [37]:
# Back to imported df read in from csv\
# Get column names
df.columns

Index(['MainBranch', 'Employment', 'Country', 'US_State', 'UK_Country',
       'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode', 'YearsCodePro',
       'DevType', 'OrgSize', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [38]:
# Get value counts for specific columns
df[['US_State']].value_counts()

US_State
California                              2163
Texas                                   1023
New York                                 961
Washington                               932
Massachusetts                            624
Florida                                  613
Illinois                                 587
Colorado                                 549
Pennsylvania                             499
Virginia                                 453
Ohio                                     448
Utah                                     415
North Carolina                           403
Michigan                                 381
Oregon                                   375
Minnesota                                359
Georgia                                  356
Maryland                                 350
New Jersey                               347
Wisconsin                                266
Arizona                                  261
Missouri                                 230
Indiana                                  208
Tennessee                                203
Connecticut                              128
Iowa                                     127
Idaho                                    121
Kansas                                   119
South Carolina                           117
Alabama                                  116
Kentucky                                 111
Nebraska                                 103
New Hampshire                             92
Oklahoma                                  86
New Mexico                                83
District of Columbia                      81
Nevada                                    78
Louisiana                                 70
Arkansas                                  64
Vermont                                   60
Maine                                     56
Rhode Island                              40
South Dakota                              36
Montana                                   35
Hawaii                                    33
Puerto Rico                               26
Mississippi                               24
North Dakota                              23
West Virginia                             22
Delaware                                  21
Alaska                                    21
Wyoming                                   11
I do not reside in the United States       8
Guam                                       1
American Samoa                             1
dtype: int64

In [50]:
# Filtering a DataFrame

df_schema.loc[6, 'question'] # get full non-truncated value of 

# Get all responses where respondant lives in Texas
df_filter = (df['US_State'] == 'Texas') # creates boolean series that will filter the df
df[df_filter]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
64,I code primarily as a hobby,"Student, full-time",United States of America,Texas,NaN,Primary/elementary school,5 - 10 years,Online Courses or Certification,5,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;Node.js,HTML/CSS;JavaScript;Node.js,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atom;Vim,Atom,Linux-based,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,A few times per month or weekly,"Yes, somewhat",No,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
252,I code primarily as a hobby,I prefer not to say,United States of America,Texas,NaN,NaN,5 - 10 years,"Other online resources (ex: videos, blogs, etc)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Python,HTML/CSS;JavaScript;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atom;Eclipse;PyCharm;Sublime Text;Visual Studi...,PyCharm;Visual Studio Code,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",No,Prefer not to say,NaN,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
279,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,18,13,"Developer, embedded applications or devices",500 to 999 employees,USD\tUnited States dollar,160000.0,Yearly,Bash/Shell;C;C++;JavaScript;Python,Bash/Shell;C;C++;JavaScript;Node.js;Python;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Vim;Visual Studio;Visual Studio Code;Webstorm,Vim;Visual Studio;Visual Studio Code;Webstorm,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,35-44 years old,Man,No,NaN,South Asian,None of the above,None of the above,Too long,Easy,160000.0
315,I code primarily as a hobby,"Student, full-time",United States of America,Texas,NaN,Primary/elementary school,5 - 10 years,Other (please specify):,5,NaN,NaN,NaN,NaN,NaN,NaN,Haskell;Java;JavaScript;Python;Rust;Scala,Haskell;Java;Kotlin;Node.js;Rust;Scala;TypeScript,NaN,NaN,Heroku,AWS;DigitalOcean;Heroku,jQuery,React.js;Svelte;Vue.js,Apache Spark;NumPy;TensorFlow;Torch/PyTorch,Apache Spark;NumPy;TensorFlow;Torch/PyTorch,Git,Deno;Docker;Git,Atom;Eclipse;IntelliJ;Neovim;Vim,Neovim;Vim,Linux-based,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",Yes,Under 18 years old,Man,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
348,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5 - 10 years,School;Other (please specify):,25,15,"Developer, mobile;Developer, front-end;Develop...",2 to 9 employees,USD\tUnited States dollar,120000.0,Yearly,C#;HTML/CSS;JavaScript;Kotlin;Node.js;Objectiv...,C#;HTML/CSS;JavaScript;TypeScript,Firebase;Microsoft SQL Server;Redis;SQLite,Firebase;Microsoft SQL Server,AWS;Microsoft Azure,AWS;Microsoft Azure,ASP.NET;ASP.NET Core ;Express;jQuery;React.js,Angular;ASP.NET Core ;Express;React.js,.NET Framework;.NET Core / .NET 5,.NET Core / .NET 5;React Native,Git,Docker;Git;Kubernetes;Unity 3D;Unreal Engine,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,Neutral,Yes,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,120000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83234,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Books / Physical media,26,21,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,USD\tUnited States dollar,106000.0,Yearly,Bash/Shell;C#;Dart;HTML/CSS;Java;JavaScript;SQL,C#;Dart;JavaScript;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;Oracle;Post...,MariaDB;Microsoft SQL Server,Heroku;Microsoft Azure,Microsoft Azure,ASP.NET Core ;jQuery;Ruby on Rails;Spring;Vue.js,ASP.NET Core ;Vue.js,.NET Core / .NET 5;Flutter,.NET Core / .NET 5;Flutter,Docker;Git,Git,Android Studio;Eclipse;IntelliJ;NetBeans;Subli...,Vim;Visual Studio;Visual Studio Code,MacOS,Call a coworker or friend;Google it;Meditate,Stack Overflow,A few times per week,No,NaN,"No, not really",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,106000.0
83296,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,Texas,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",8,5,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",USD\tUnited States dollar,1500.0,Weekly,Bash/Shell;HTML/CSS;JavaScript;Node.js;Ruby;SQ...,HTML/CSS;JavaScript;Node.js;Ruby;SQL,PostgreSQL;Redis,PostgreSQL;Redis,AWS;Heroku,AWS;Heroku,jQuery;React.js;Ruby on Rails;Vue.js,jQuery;React.js;Ruby on Rails;Vue.js,NaN,NaN,Docker;Git;Yarn,Docker;Git;Yarn,Atom;Sublime Text,Atom;Sublime Text,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",Yes,35-44 years old,Woman,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,75000.0
83313,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,Some college/university study without earning ...,11 - 17 years,Books / Physical media,14,13,"Developer, back-end",NaN,USD\tUnited States dollar,200000.0,Yearly,HTML/CSS;JavaScript;Ruby,HTML/CSS;JavaScript;Ruby,Firebase;PostgreSQL;Redis,PostgreSQL;Redis,Heroku,Heroku,Ruby on Rails;Vue.js,Ruby on Rails,NaN,NaN,NaN,NaN,NaN,NaN,MacOS,NaN,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200000.0
83368,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United States of America,Texas,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,Less than 1 year,Other (please specify):,"Just me - I am a freelancer, sole proprietor, ...",USD\tUnited States dollar,NaN,NaN,JavaScript;Node.js,JavaScript;Node.js;Rust,NaN,NaN,Google Cloud Platform,Google Cloud Platform,React.js,React.js,NaN,NaN,Docker;Git,Docker;Git,Sublime Text,Sublime Text,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0